
/******************* Globals *******************/
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: bold;
    /*text-transform: uppercase;*/
}

p {
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
}

button, input[type=submit] {
    display: block;
    padding: 10px 30px;
    margin: 30px auto 20px auto;
    font-size: 16px;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    color: white;
    background: #22559E;
    border: 1px solid rgba(20, 20, 20, .4);
    border-radius: 4px;
    outline: none;

    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

button:hover, input[type=submit]:hover {
    background: #2271bc;
}

div.container {
    width: 100%;
    margin: auto;
    background: ghostwhite;
}

div#content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0 180px 0;
    text-align: center;
}


/*****************************************
************** Profile Page **************
******************************************/
header {
    padding: 25px 0;
    color: white;
    text-align: center;
    background: #22559E;
    border: 1px solid rgba(20, 20, 20, .4);
}

header img {
    width: 80px;
    height: auto;
}

header h1 {
    display: inline-block;
    padding-left: 20px;
    font-weight: normal;
    vertical-align: top;
}

/*** Boxes ***/
div#profilePanel {
    width: 30%;
    display: inline-block;
    padding: 10px;
    text-align: center;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background: white;
    border-radius: 10px;
    vertical-align: top;
    border: 1px solid rgba(34, 85, 158, .3);
}

div#profilePanel img#profilePic {
    width: 92%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #22559E;
}

div#profilePanel h2#name {
    margin: 15px 5px 0 5px;
    font-weight: bold;
}

/******************* Rating *******************/
div#rating {
    margin: 15px 0 17px 0;
}

div#rating img {
    width: 40px;
    height: auto;
}

div#availabilityToggle {
    display: inline-block;
    margin-bottom: 15px;
}

/******************* Skills *******************/
div#profilePanel h3 {
    padding-top: 30px;
    border-top: 1px solid rgba(34, 85, 158, .3);
}

form#skillForm {
    padding: 0 20px 20px 20px;
    text-align: left;
    border-bottom: 1px solid rgba(34, 85, 158, .3);
}

form#skillForm label {
    padding-left: 5px;
    vertical-align: 14px;
}

form#skillForm input {
    margin: 10px 0;
}

form#skillForm input[type=checkbox] {
    width: 20px;
    height: 20px;
    border: 1px solid #1A70BE;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form#skillForm input[type=checkbox]:checked {
    background: url("images/checkmark.png") no-repeat center;
    background-size: 10px;
}

form#skillForm input[type=checkbox]::-ms-check{
    background: url("images/checkmark.png") no-repeat center;
    background-size: 10px;
}

form#skillForm input[type=submit] {
    margin: 20px auto 10px auto;
}

/*** Log Out ***/
button#logOut {
}


/******************* Calendar *******************/
div#calendarFeedbackBox {
    width: 67%;
    display: inline-block;
    margin-left: 20px;
}

div#calendarFeedbackBox div#calendar {
    height: 200px;
    margin-bottom: 20px;
    background: white;
    border-radius: 10px;
    border: 1px solid rgba(34, 85, 158, .3);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div#calendarFeedbackBox div#calendar h3 {
    width: 15%;
    padding-bottom: 10px;
    margin: 25px auto 25px auto;
    border-bottom: 1px solid rgba(34, 85, 158, .3);
}


/******************* Feedback *******************/
div#calendarFeedbackBox div#bestReviews,
div#calendarFeedbackBox div#worstReviews {
    width: 48.4%;
    display: inline-block;
    padding: 10px 20px;
    text-align: left;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background: white;
    border-radius: 10px;
    border: 1px solid rgba(34, 85, 158, .3);
    vertical-align: top;
}

div#calendarFeedbackBox div#bestReviews {
    margin-right: 20px;
}

/* Feedback Headings */
div#calendarFeedbackBox div#bestReviews h3,
div#calendarFeedbackBox div#worstReviews h3 {
    padding-bottom: 10px;
    width: 45%;
    margin: 25px auto 25px auto;
    text-align: center;
    border-bottom: 1px solid rgba(34, 85, 158, .3);
    /*text-transform: uppercase;*/
}

/* Stars */
div#calendarFeedbackBox div#bestReviews div.bestReview img,
div#calendarFeedbackBox div#worstReviews div.worstReview img {
    width: 40px;
    height: auto;
    margin-bottom: 5px;
}

/* Names */
div#calendarFeedbackBox div#bestReviews div.bestReview h4,
div#calendarFeedbackBox div#worstReviews div.worstReview h4 {
    display: inline-block;
    margin: 0;
}

/* Date */
div#calendarFeedbackBox div#bestReviews div.bestReview span.date,
div#calendarFeedbackBox div#worstReviews div.worstReview span.date {
    display: inline-block;
    padding-left: 7px;
    font-size: 14px;
}

/* Comment */
div#calendarFeedbackBox div#bestReviews div.bestReview p,
div#calendarFeedbackBox div#worstReviews div.worstReview p {
    margin: 10px 0 25px 0;
    font-style: italic;
}


/******************* Footer *******************/
footer {
    padding: 20px 0;
    color: white;
    text-align: center;
    background: #22559E;
    font-weight: bold;
    border: 1px solid rgba(20, 20, 20, .4);
}


/******************* Responsiveness *******************/
@media( max-width: 1210px ) {
    div#profilePanel {
        width: 95%;
        display: block;
        margin: 0 auto;
        font-size: 2.4em;
    }

    /* Stars */
    div#rating img {
        width: 70px;
    }

    div#availabilityToggle {
        display: inline-block;
        margin-bottom: 15px;
    }

    form#skillForm {
        padding: 0 40px 10px 40px;
    }

    form#skillForm label {
        padding-left: 20px;
        vertical-align: 20px;
    }

    form#skillForm input[type=checkbox] {
        width: 50px;
        height: 50px;
    }

    form#skillForm input[type=checkbox]:checked {
        background-size: 30px;
    }

    form#skillForm input[type=checkbox]::-ms-check{
        background-size: 30px;
    }

    form#skillForm input[type=submit] {
        width: 200px;
        height: 80px;
        font-size: 34px;
    }


    div#calendarFeedbackBox {
        width: 95%;
        margin: 20px 0 0 0;
        font-size: 2.4em;
    }

    div#calendarFeedbackBox div#bestReviews,
    div#calendarFeedbackBox div#worstReviews {
        width: 100%;
        display: block;
        padding: 10px 40px 20px 40px;
    }

    /* Stars */
    div#calendarFeedbackBox div#bestReviews div.bestReview img,
    div#calendarFeedbackBox div#worstReviews div.worstReview img {
        width: 70px;
    }

    div#calendarFeedbackBox div#bestReviews p,
    div#calendarFeedbackBox div#worstReviews p {
        font-size: 0.9em;
        line-height: 50px;
    }

    div#calendarFeedbackBox div#bestReviews div.bestReview span.date,
    div#calendarFeedbackBox div#worstReviews div.worstReview span.date {
        font-size: 0.8em;
    }

    div#calendarFeedbackBox div#bestReviews {
        margin: 0 0 20px 0;
    }

    button {
        width: 440px;
        height: 80px;
        font-size: 34px;
    }


    header img {
        width: 120px;
    }

    header h1 {
        font-size: 3em;
    }

    footer p {
        font-size: 1.7em;
    }
}


/*****************************************
*************** Login Page ***************
******************************************/
div#content.login {
    padding: 250px 0 310px 0;
}

form#slick-login input[type="text"],
form#slick-login input[type="password"] {
    width: 220px;
    padding: 20px;
    margin-top: 10px;

    font-size: 16px;
    outline: none;
    border: 1px solid rgba(34, 85, 158, .3);
    border-radius: 4px;
}

form#slick-login input[type="text"]:focus,
form#slick-login input[type="password"]:focus {
    border: 1px solid #22559E;
}

form#slick-login input[type="submit"],
input#developerMode {
    width: 262px;
    padding: 15px 20px;
    margin-top: 20px;
    font-size: 18px;
}
