
/************ Globals ************/
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
}

hr {
    margin: 22px 0 25px 0;
    border-color: rgba(34, 85, 158, .15);
}

button {
    width: 225px;
    height: 35px;
    display: block;
    margin: 20px auto 30px auto;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-size: 16px;
    background: white;
    border: 1px solid #1A70BE;
    outline: none;
    cursor: pointer;
}

div.container {
    width: 100%;
    margin: auto;
    background: ghostwhite;
}


/************ Profile Page ************/
header {
    width: 100%;
    padding: 20px 0;
    color: white;
    text-align: center;
    background: #22559E;
    border: 1px solid rgba(20, 20, 20, .4);
}

header img {
    width: 80px;
    height: auto;
}

header h1 {
    display: inline-block;
    padding-left: 20px;
    font-weight: normal;
    vertical-align: top;
}

/*** Boxes ***/
div#content {
    margin: 0 auto;
    padding: 20px 0 150px 0;
    text-align: center;
}

div#profilePanel {
    width: 20%;
    display: inline-block;
    margin: 20px 0 0 0;
    padding: 10px;

    text-align: center;
    background: white;
    border-radius: 10px;
    vertical-align: top;
    border: 1px solid rgba(34, 85, 158, .3);
}

div#profilePanel img#profilePic {
    width: 91%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgba(20, 20, 20, .7);
}

div#profilePanel h2#name {
    margin: 15px 5px 0 5px;
    font-weight: bold;
}

/* Stars */
div#rating {
    margin: 10px 5px;
}

div#rating img {
    width: 40px;
    height: auto;
}

div#availabilityToggle {
    display: inline-block;
}

/****** Skills ******/
form#skillForm {
    padding: 0 20px 10px 20px;
    text-align: left;
}

form#skillForm label {
    padding-left: 5px;
    vertical-align: 12px;
}

form#skillForm input {
    margin: 10px 0;
}

form#skillForm input[type=checkbox] {
    width: 17px;
    height: 17px;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: ghostwhite;
    border: 1px solid #1A70BE;
    outline: none;
}

form#skillForm input[type=checkbox]:checked,
form#skillForm input[type=checkbox]::-ms-check {
    background: ghostwhite url("images/checkmark.png") no-repeat center 10px;
    background-size: 10px;
}

form#skillForm input[type=submit] {
    width: 105px;
    height: 35px;
    display: block;
    margin: 20px auto 10px auto;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-size: 16px;
    background: white;
    border: 1px solid #1A70BE;
    outline: none;
    cursor: pointer;
}


/************ Calendar ************/
div#calendarFeedbackBox {
    width: 50%;
    display: inline-block;
    margin: 20px;
}

div#calendarFeedbackBox div#calendar {
    margin-bottom: 20px;
    background: white;
    border-radius: 10px;
    border: 1px solid rgba(34, 85, 158, .3);
}

div#calendarFeedbackBox div#calendar {
    height: 300px;
}


/************ Feedback ************/
div#calendarFeedbackBox div#feedbackBox {
    background: white;
    border-radius: 10px;
    border: 1px solid rgba(34, 85, 158, .3);
}

div#calendarFeedbackBox div#feedbackBox div#bestReviews,
div#calendarFeedbackBox div#feedbackBox div#worstReviews {
    width: 45%;
    display: inline-block;
    padding: 10px 15px;
    text-align: left;
    vertical-align: top;
}

/* Feedback Headings */
div#calendarFeedbackBox div#feedbackBox div#bestReviews h3,
div#calendarFeedbackBox div#feedbackBox div#worstReviews h3 {
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
}

/* Stars */
div#calendarFeedbackBox div#feedbackBox div#bestReviews div.bestReview img,
div#calendarFeedbackBox div#feedbackBox div#worstReviews div.worstReview img {
    width: 40px;
    height: auto;
    margin-bottom: 5px;
}

/* Names */
div#calendarFeedbackBox div#feedbackBox div#bestReviews div.bestReview h4,
div#calendarFeedbackBox div#feedbackBox div#worstReviews div.worstReview h4 {
    display: inline-block;
    margin: 0;
}

/* Date */
div#calendarFeedbackBox div#feedbackBox div#bestReviews div.bestReview span.date,
div#calendarFeedbackBox div#feedbackBox div#worstReviews div.worstReview span.date {
    display: inline-block;
    padding-left: 7px;
    font-size: 14px;
}

/* Comment */
div#calendarFeedbackBox div#feedbackBox div#bestReviews div.bestReview p,
div#calendarFeedbackBox div#feedbackBox div#worstReviews div.worstReview p {
    margin: 10px 0 25px 0;
    font-style: italic;
}


/************ Footer ************/
footer {
    width: 100%;
    padding: 20px 0;
    color: white;
    text-align: center;
    background: #22559E;
    font-weight: bold;
    border: 1px solid rgba(20, 20, 20, .4);
}